{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Modifier la liste
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Modifier la liste</h1>
	</div>
{% endblock %}
